<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Sahil Raza</h2>
            <h4>sahilraza33@gmail.com</h4>
        </div>
        <img src="/assets/images/img2019.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item>Home</a>
    <a mat-list-item>Dashboard</a>
    <a mat-list-item>Posts</a>
    <a mat-list-item>Articles</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item>
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item>
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>